body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: pink;

  #title{
    color: pink;
  }
}

.div1{
  width: 300px;
  height: 300px;
  background-image: url(../assets/img/webpack.jpg);
}

.div2{
  width: 300px;
  height: 300px;
  background-image: url(../assets/img/angular.jfif);
}

.div3{
  width: 300px;
  height: 300px;
  background-image: url(../assets/img/scss.jpg);
}
